node_modules
dist
playground/dist
storybook-static
*.log
.DS_Store
coverage
.reports
*.tsbuildinfo
*.tgz
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
package-lock.json
pnpm-lock.yaml
docs/BUNDLE_SIZE_REPORT.json
.env
.env.local
